body {
  margin: 0;

}

.top-container {
  background-image: url(background.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-container h1 {
  color: white;
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
}

.text {
  margin: 50px 5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar ul {
  display: flex;
  list-style-type:none;
}

.navbar ul li a {
  text-decoration: none;
  margin: 0 10px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar ul li a:hover {
  color: rgb(2, 255, 107);
}

.navbar.active {
  background-color: black;
}

.navbar.active ul li a {
  color: white;
}